<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.fit.rent_a_car.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ba.fit.rent_a_car.app.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ba.fit.rent_a_car.app.GlavniActivity"
            android:label="@string/title_activity_glavni" >
        </activity>
        <activity
            android:name="ba.fit.rent_a_car.app.PregledVozilaActivity"
            android:label="@string/title_activity_pregled_vozila" >
        </activity>
        <activity
            android:name="ba.fit.rent_a_car.app.Moje_rezervacije"
            android:label="@string/title_activity_moje_rezervacije" >
        </activity>
        <activity
            android:name="ba.fit.rent_a_car.app.Nova_rezervacija"
            android:label="@string/title_activity_nova_rezervacija" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
